<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_4.launch">
      <arg name="x_pos" value="-0.5"/>
      <arg name="y_pos" value="-0.5"/>
      <arg name="z_pos" default="0.0"/>
    </include>

    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
	<arg name = "map_file" value = "$(find brick_search)/maps/OGMap.yaml" />
        <arg name="move_forward_only" value="false"/>
    </include>

    <node pkg="brick_search" type="brick_search" respawn="false" name="brick_search" output="screen"/>

</launch>
