<launch>
    <!-- <include file="$(find brick_search)/launch/ar_group_project_2.launch" /> -->

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_4.launch" />

    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
	<arg name = "map_file" value = "$(env HOME)/Documents/AdvancedRobotics/GroupAssignment/brick_search/maps/OGMap.yaml" />
    </include>

    <node pkg="brick_search" type="map_explorer" respawn="false" name="map_explorer" output="screen"/>

</launch>
